<app-navi></app-navi>
<div class="wrap">
    <div class="menu-list"> 
      <div class="md-form">
        <i class="fa fa-search prefix grey-text"></i>
        <input type="text" id="defaultForm-email" class="form-control" mdbActive>
        <label for="defaultForm-email">검색하기</label>
      </div>
      <div class="my-info">
        프로플정보가 들어가는공간
        <h2>{{authService.name}}</h2>
        <!-- <h1>{{authService.getUser().name}}</h1> -->
      </div>
      <div>
        메뉴리스트 들어가는 공간
        <ul>
          <li>회원탈퇴</li>
          <li><button  (click)="authService.logout()">로그아웃</button></li>
          <li>
            <button (click)="authService.getUser()">유저정보</button>
          </li>
        </ul>
      </div>
      <router-outlet name="hello"></router-outlet>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
</div>
